/* .nav {
  position: relative;
  top: 0px;
  width: 100%;
  height: 327px;
  
  display: flex;
}
*/

li {
  list-style: none;
}

.categorybar {
  background: linear-gradient(180deg, #ffe7cb 0%, #fbf8f3 100%);
}

.categorybar__menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
  padding-bottom: 3vh;
  margin-top: -2vh;
}

@media screen and (max-width: 800px) {
  .categorybar__menu > li {
    zoom: 0.3;
  }
}
