.footer {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(240, 221, 190, 0.973958) 0.56%,
    rgba(255, 247, 235, 0.872592) 0.57%,
    rgba(254, 219, 162, 0) 92.04%
  );
}

.logo {
  padding: 2%;
}

.logo > img {
  max-width: 228px;
  height: auto !important;
  width: auto !important;
}

.p {
  padding: 1%;
}

.p > p {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: small;
  line-height: 21px;
}
